html  
  head
    style.
      .title {
        text-align: center;
          }
      table, td, th {
        border: 1px solid black;
          }
      table {
        border-collapse: collapse;
        width: 50%;
            }
      td {
        text-align: center;
            }    

  body
  h1.title Book Details 
  table(style={color: 'red'}) 
    tr
      th  Title
      th  Year
      th  Author Name
    tr 
      td !{bookData.title}
      td !{bookData.year}
      td !{bookData.auther_name}


  


